<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.juicebox.dairydaily">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UI.ChangePasscodeActivity"></activity>
        <activity android:name=".UI.SendOtpActivity" />
        <activity android:name=".UI.BluetoothPrinterActivity" />
        <activity android:name=".Others.PhoneAuth" />
        <activity
            android:name=".UI.Dashboard.BuyMilk.BuyMilkActivity"
            android:parentActivityName=".UI.Dashboard.DashboardActivity" />
        <activity android:name=".UI.MainActivity" />
        <activity android:name=".UI.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TestCode.StateCityViews" />
        <activity
            android:name=".UI.Dashboard.BuyMilk.MilkBuyEntryActivity"
            android:windowSoftInputMode="adjustNothing"
            android:parentActivityName=".UI.Dashboard.BuyMilk.BuyMilkActivity" />
        <activity
            android:name=".UI.Dashboard.SellMilk.SellMilkActivity"
            android:parentActivityName=".UI.Dashboard.DashboardActivity" />
        <activity android:name=".UI.PasscodeViewClass" />
        <activity
            android:name=".UI.Dashboard.ViewReport.CustomerReportActivity"
            android:parentActivityName=".UI.Dashboard.ViewReport.ViewReportActivity"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".UI.Dashboard.ViewReport.ViewReportActivity"
            android:parentActivityName=".UI.Dashboard.DashboardActivity" />
        <activity
            android:name=".UI.Dashboard.ViewReport.PaymentRegisterActivity"
            android:windowSoftInputMode="adjustNothing"
            android:parentActivityName=".UI.Dashboard.ViewReport.ViewReportActivity" />
        <activity
            android:name=".UI.Dashboard.ViewReport.DuplicateSlipActivity"
            android:parentActivityName=".UI.Dashboard.ViewReport.ViewReportActivity" />
        <activity
            android:name=".UI.Dashboard.ViewReport.ShiftReportActivity"
            android:parentActivityName=".UI.Dashboard.ViewReport.ViewReportActivity" />
        <activity
            android:name=".UI.Dashboard.Customers.AddCustomers"
            android:windowSoftInputMode="adjustNothing"
            android:parentActivityName=".UI.Dashboard.Customers.CustomersActivity" />
        <activity
            android:name=".UI.Dashboard.ViewBuyerReport.SetMilkRateActivity"
            android:parentActivityName=".UI.Dashboard.ViewReport.ViewReportActivity" />
        <activity
            android:name=".UI.Dashboard.ViewBuyerReport.ViewBuyerReportActivity"
            android:parentActivityName=".UI.Dashboard.DashboardActivity" />
        <activity
            android:name=".UI.Dashboard.SellMilk.MilkSaleEntryActivity"
            android:windowSoftInputMode="adjustNothing"
            android:parentActivityName=".UI.Dashboard.SellMilk.SellMilkActivity" />
        <activity
            android:name=".UI.Dashboard.ViewBuyerReport.ViewReportByDateActivity"
            android:windowSoftInputMode="adjustNothing"
            android:parentActivityName=".UI.Dashboard.ViewBuyerReport.ViewBuyerReportActivity" />
        <activity
            android:name=".UI.Dashboard.ViewBuyerReport.ReceiveCashActivity"
            android:windowSoftInputMode="adjustNothing"
            android:parentActivityName=".UI.Dashboard.ViewBuyerReport.ViewBuyerReportActivity" />
        <activity
            android:name=".UI.Dashboard.ViewBuyerReport.BuyerRegisterActivity"
            android:windowSoftInputMode="adjustNothing"
            android:parentActivityName=".UI.Dashboard.ViewBuyerReport.ViewBuyerReportActivity" />
        <activity
            android:name=".UI.Dashboard.ViewBuyerReport.InvoiceActivity"
            android:parentActivityName=".UI.Dashboard.ViewBuyerReport.ViewBuyerReportActivity" />
        <activity
            android:name=".UI.Dashboard.AddProducts.AddProductActivity"
            android:parentActivityName=".UI.Dashboard.DashboardActivity" />
        <activity
            android:name=".UI.Dashboard.ProductSale.ProductSaleActivity"
            android:parentActivityName=".UI.Dashboard.DashboardActivity" />
        <activity android:name=".UI.Dashboard.DashboardActivity" />
        <activity android:name=".UI.UsersListActivity" />
        <activity android:name=".CowChart.CowSNF" />
        <activity android:name=".UI.Dashboard.Customers.CustomersActivity" />
        <activity android:name=".RateChart.RateChartOptions" />
        <activity android:name=".UI.Dashboard.ViewReport.Experiment" />
        <activity android:name=".UI.Dashboard.DrawerLayout.MilkHistoryActivity" />
        <activity android:name=".UI.Dashboard.DrawerLayout.ProfileActivity" />
        <activity android:name=".UI.Dashboard.DrawerLayout.ViewAllEntryActivity" />
        <activity android:name=".UI.Dashboard.DrawerLayout.DeleteHistory" />

    </application>

</manifest>