<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dixitlamba">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UI.SendOtpActivity"></activity>
        <activity android:name=".UI.BluetoothPrinterActivity"></activity>
        <activity android:name=".Others.PhoneAuth"></activity>
        <activity android:name=".UI.Dashboard.BuyMilk.BuyMilkActivity"
            android:parentActivityName=".UI.Dashboard.DashboardActivity"></activity>
        <activity android:name=".UI.MainActivity" />
        <activity android:name=".UI.SignUpActivity" />
        <activity android:name=".UI.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TestCode.StateCityViews" />
        <activity android:name=".UI.Dashboard.BuyMilk.MilkBuyEntryActivity"
            android:parentActivityName=".UI.Dashboard.BuyMilk.BuyMilkActivity"/>
        <activity android:name=".UI.Dashboard.DashboardActivity" />
        <activity android:name=".UI.Dashboard.SellMilk.SellMilkActivity"
            android:parentActivityName=".UI.Dashboard.DashboardActivity"/>
        <activity android:name=".UI.Dashboard.ViewReport.CustomerReportActivity"
            android:parentActivityName=".UI.Dashboard.ViewReport.ViewReportActivity"/>
        <activity android:name=".UI.Dashboard.ViewReport.ViewReportActivity"
            android:parentActivityName=".UI.Dashboard.DashboardActivity"/>
        <activity android:name=".UI.Dashboard.ViewReport.PaymentRegisterActivity"
            android:parentActivityName=".UI.Dashboard.ViewReport.ViewReportActivity"/>
        <activity android:name=".UI.Dashboard.ViewReport.DuplicateSlipActivity"
            android:parentActivityName=".UI.Dashboard.ViewReport.ViewReportActivity"/>
        <activity android:name=".UI.Dashboard.ViewReport.ShiftReportActivity"
            android:parentActivityName=".UI.Dashboard.ViewReport.ViewReportActivity"/>
    </application>

</manifest>